.search-component input {
    border: 2px solid grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: black;
}

.search-component p {
    color: rgb(96, 96, 96);
}

.search-component p span {
    font-weight: bold;
}